{% extends 'base.html.twig' %}

{% block contenido %}
    {% for categoria in categorias %}
        <p>
            <a href="{{ path('app_productos', {'categoria': categoria.getId()}) }}">{{ categoria.getNombre() }}</a>
        </p>
    {% endfor %}
{% endblock %}